body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: purple;
  color: white;
}

ol,
ul {
  padding-left: 30px;
}

#root {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(90, 194, 243);
  border: 2px solid #000;
  color: white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 2em;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.button-time-travel {
  background-color: rgb(245, 92, 31);
  border-radius: 0.3em;
  color: white;
  margin: 0.2em;
  border: solid 1px white;
}
