body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 24px;
}

#map {
    height: 400px;
    width: 90%;
    max-width: 600px;
    margin: 24px auto;
    border: 2px solid #0d0d0d;
    border-radius: 8px;
}

#output {
    padding: 24px;
    border: 2px solid #0d0d0d;
    width: 50%;
    max-width: 600px;
    margin: 24px auto;
    border-radius: 8px;
}